body{
margin: 0;
padding: 0;
}
.Tiger{
  float: left;
  background-color:white;
  width: 15%;
}
.lion{
  margin-top: "50px";
  float: right;
  background-color:white;
  width: 85%;
  margin-right: "30px";
}
*{
  margin: 0;
  padding: 0;
}

.avatar{
  background-color:aliceblue;
  
  
  height: 100vh;
}
h1{
  background-color: aliceblue;  
  height:60px;
}
hr{
  width:70%;
  
}
.dash-order{
  padding-top: 30px;
  padding-left: 30px;
}
.dash-order>p{
  color: blueviolet;
}

.left{
  float: left;
  width: 15%;
  background-color:azure;
}
.right{
  float: right;
  width: 85%;
  height: 15vh;
}
TableRow{
  background-color:aqua ;
}
label{
 
  font-size: small;
}